<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="49" class="conversation-wrapper">
    <div fxLayout="column">
      <div fxFlex>
        <md-card fxFlex class="sender">
          <p>Hello, it's me</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="receiver margin-top-5">
          <p>I was wondering if after all these years you'd like to meet</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="sender margin-top-5">
          <p>To go over everything</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="receiver margin-top-5">
          <p>They say that time's supposed to heal ya</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="sender margin-top-5">
          <p>But I ain't done much healing</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="receiver margin-top-5">
          <p>Hello, can you hear me?</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="sender margin-top-5">
          <p>Hello</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card class="receiver margin-top-5">
          <p>I'm in California dreaming about who we used to be</p>
        </md-card>
      </div>
    </div>
    <button md-icon-button>
      <md-icon>send</md-icon>
    </button>
    <md-input-container class="social margin-top-5">
      <input mdInput placeholder="Hello from the other siiiiiiiide">
    </md-input-container>
  </div>
  <div fxFlex="49">
    <div fxLayout="column">
      <div fxFlex>
        <h1 class="margin-left40">Friends!</h1>
      </div>
      <md-card class="friend-picker">
        <div fxLayout="row">
          <div fxFlex>
            <h4 class="margin-top-0">Its Shia</h4>
            <img src="/src/assets/images/shia1.jpg" style="width:100px;">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center">
            <p class="margin-top-0">I was wondering if after all...</p>
            <p>They say that time's supposed...</p>
            <p>Hello, can you hear me?</p>
          </div>
        </div>
      </md-card>
      <md-card class="friend-picker inactive margin-top-10">
        <div fxLayout="row">
          <div fxFlex>
            <h4 class="margin-top-0 margin-bottom-7">Shia Again</h4>
            <img src="/src/assets/images/shia2.jpg" style="width:80px;">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center">
            <p class="margin-top-0">This isn't Shia</p>
            <p>Nevermind yeah it is</p>
            <p>Why are you ignoring me</p>
          </div>
        </div>
      </md-card>
      <md-card class="friend-picker inactive margin-top-10">
        <div fxLayout="row">
          <div fxFlex>
            <h4 class="margin-top-0 margin-bottom-10">Still Shia</h4>
            <img src="/src/assets/images/shia3.jpg" class="width-100">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center">
            <p class="margin-top-0">The silence hurts</p>
            <p>Why, why why why</p>
            <p>IM FAMOUS</p>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>