<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="49" style="border: 1px solid lightblue; padding:5px; border-radius:3px;margin-top:10px;">
    <div fxLayout="column">
      <div fxFlex>
        <md-card style="background-color:beige;float:left;">
          <p>Hello, it's me</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:chartreuse;float:right;margin-top:5px;">
          <p>I was wondering if after all these years you'd like to meet</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:beige;float:left;margin-top:5px;">
          <p>To go over everything</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:chartreuse;float:right;margin-top:5px;">
          <p>They say that time's supposed to heal ya</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:beige;float:left;margin-top:5px;">
          <p>But I ain't done much healing</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:chartreuse;float:right;margin-top:5px;">
          <p>Hello, can you hear me?</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:beige;float:left;margin-top:5px;">
          <p>Hello</p>
        </md-card>
      </div>
      <div fxFlex>
        <md-card style="background-color:chartreuse;float:right;">
          <p>I'm in California dreaming about who we used to be</p>
        </md-card>
      </div>
    </div>
    <button md-icon-button style="display:inline-block;">
      <md-icon>send</md-icon>
    </button>
    <md-input-container style="width:80%;display:inline-block;font-size:150%;margin-top:5px;">
      <input mdInput placeholder="Hello from the other siiiiiiiide">
    </md-input-container>
  </div>
  <div fxFlex="49">
    <div fxLayout="column">
      <div fxFlex>
        <h1 style="margin-left:40%;">Friends!</h1>
      </div>
      <div fxFlex>
        <md-card style="height:125px;">
          <div fxLayout="row">
            <div fxFlex>
              <h4 style="margin-top:0;">Its Shia</h4>
              <img src="/src/assets/images/shia1.jpg" style="width:100px;">
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center">
              <p style="margin-top:0;">I was wondering if after all...</p>
              <p>They say that time's supposed...</p>
              <p>Hello, can you hear me?</p>
            </div>
          </div>
        </md-card>
      </div>
      <div fxFlex style="margin-top:10px;">
        <md-card style="height:125px; background-color:darkgray;">
          <div fxLayout="row">
            <div fxFlex>
              <h4 style="margin-top:0; margin-bottom:7px;">Shia Again</h4>
              <img src="/src/assets/images/shia2.jpg" style="width:80px;">
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center">
              <p style="margin-top:0;">This isn't Shia</p>
              <p>Nevermind yeah it is</p>
              <p>Why are you ignoring me</p>
            </div>
          </div>
        </md-card>
      </div>
      <div fxFlex style="margin-top:10px;">
        <md-card style="height:125px; background-color:darkgray;">
          <div fxLayout="row">
            <div fxFlex>
              <h4 style="margin-top:0; margin-bottom:10px;">Still Shia</h4>
              <img src="/src/assets/images/shia3.jpg" style="width:100px;">
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center">
              <p style="margin-top:0;">The silence hurts</p>
              <p>Why, why why why</p>
              <p>IM FAMOUS</p>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>