<div fxLayout="row">
  <div fxFlex="60">
    <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
  </div>
  <div fxFlex="40">
    <md-list>
      <h3 md-header>Your Data</h3>
      <md-list-item *ngFor="let lineChart of lineCharts">
        <md-icon [style.margin-right.px]='4'>{{lineChart.icon}}</md-icon>
        <span>On {{lineChart.day}} you learned {{lineChart.words}} words!</span>
      </md-list-item>
    </md-list>
  </div>
</div>