.quiz-button{
    font-size:40px;
    height:100px;
    width:350px;
}

.submit-button{
    font-size:30px;
    background-color: #4CAF50;
}

md-input-container.quiz-input {
    width:50%;
    font-size:25px;
}

button:nth-child(n+2){
    margin-left:3px;
}