<md-toolbar color="primary">
  <button md-button class="md-primary" routerLink="/home" title="home" >
    Languge is fun!
  </button>

  <span class="progress-icon-spacing"></span>


  <button md-button class="md-icon-button" title="Pause Quiz">
    <md-icon class="material-icons"> pause </md-icon>
  </button>
  
<div>

 <img src="/src/assets/gokuKamehameha.png" class="progress-icon">

<!--  <md-progress-linear md-mode="determinate"></md-progress-linear> -->
</div>

  <!-- This fills the remaining space of the current row -->
  <span class="exit-button-spacing"></span>

 <button md-button class="md-icon-button" title="Exit Quiz" routerLink="/home">
    <md-icon class="material-icons"> cancel</md-icon>
  </button>
</md-toolbar>
