<md-toolbar color="primary">
  <button md-button mdTooltip="Look, no home icon! Doesn't send you home!">
    <span class="toolbar-span">Language Is Fun!</span>
  </button>
  
  <img src="/src/assets/images/goku_icon.png" style="height:80%; margin-left:10px;">
  <md-progress-bar mode="indeterminate" color="accent" style="width:80%; margin-left:2px;"></md-progress-bar>
  <img src="/src/assets/images/frieza_icon.png" style="height:78%; margin-left:2px;">
  <!-- This fills the remaining space of the current row -->

  <button md-icon-button style="margin-left:10px; margin-right:30px;" routerLink="/" mdTooltip="Go home!">
    <md-icon>exit_to_app</md-icon>
  </button>
</md-toolbar>