<div class="body-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:800px;">
    <div fxFlex="80" style="height:100%;">
      <md-card style="background-color:#F4F5F0">
        <div fxLayout="row">
          <div fxFlex>
            <img src="/src/assets/images/Yotsubato1.png" style="width:80%;">
          </div>
          <div fxFlex style="padding-left:20px;">
            <div fxLayout="column">
              <div fxFlex style="font-size:25px;">
                <p>
                   To start, we are going to have have you read the
                   very first panel of Yotsubato and see if you can
                   read the panel to the left.
                </p>
              </div>
              <div fxFlex style="font-size:25px;">
                <p>
                  Can you read the panel to the left? If you can already
                  read all of the words in this panel, click "I can read it!",
                  and we'll do a quick quiz to make sure you are ready to go!
                  If not, click "I'm ready to learn!" and we'll start learning
                  how to read a Japanese Manga panel!
                </p>
                <button md-raised-button color="primary" style="margin-left:100px;">
                  <span class="toolbar-span">I'm ready to learn!</span>
                </button>
                <button md-raised-button color="accent">
                  <span class="toolbar-span">I can read it!</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>