<div fxLayout="row" fxLayoutAlign="space-between center" [style.height.px]='550'>
  <div fxFlex="20" fxLayoutAlign="center center">
    <button md-raised-button color="primary" routerLink="/learning/learning-body-3">
      View Vocab List
    </button>
  </div>
  <div fxFlex="40" fxLayoutAlign="center center" fxLayout="column">
    <div class="snippet-wrapper">
      <img [src]="activeLink">
      <div class="word-wrap mou" *ngIf="isJapanese" (mouseover)="openMouHover()">
      </div>
      <div class="word-wrap sugu" *ngIf="isJapanese" (mouseover)="openSuguHover()">
      </div>
      <div class="word-wrap da" *ngIf="isJapanese" (mouseover)="openDaHover()">
      </div>
      <div class="word-wrap zo" *ngIf="isJapanese" (mouseover)="openZoHover()">
      </div>
      <div class="word-wrap extender" *ngIf="isJapanese" (mouseover)="openExtenderHover()">
      </div>
    </div>
    <button md-button color="primary" (click)="flipLanguage()" [style.margin-top.px]='5'>
      Flip Language
    </button>
  </div>
  <div fxFlex="20" fxLayoutAlign="center center">
    <button md-raised-button color="accent" (click)="openQuizOrLearn()">
      Continue
    </button>
  </div>
</div>