<md-sidenav-container fullscreen>
  <md-sidenav #appendix align="end" [style.width.%]='40'>
    <appendix></appendix>
  </md-sidenav>
  <learning-toolbar></learning-toolbar>
  <div class="body-container">
    <div fxLayout="row" fxLayoutAlign="space-around center" [style.height.px]='600'>
      <div fxFlex="80" class="height100">
        <md-card [style.background-color]="'#F4F5F0'">
          <router-outlet></router-outlet>
        </md-card>
      </div>
    </div>
    <button md-button class="appendix-button" (click)="toggleAppendix()">
      <div fxLayout="column" fxLayoutAlign="center center">
        <md-icon>arrow_back</md-icon>
        <span>Appendix</span>
      </div>
    </button>
  </div>
</md-sidenav-container>