<md-toolbar color="primary">
  <div>
 
  <button md-button class="md-primary" routerLink="/home" title="home" >
    Languge is fun!
  </button>

  <button md-button class="md-raised" routerLink="/home-manga-browser">
    Read Manga
  </button>

  <span style="padding-right: 30cm;"></span>

 <button md-button class="md-icon-button" title="Profile" routerLink="/user-profile">
  <!--  <md-icon class="material-icons"> person </md-icon> -->
  <img src="/src/assets/hellsing.png" style="width: 30px; height: 40px; border-radius: 50%"> 
  
  </button>

  </div>
</md-toolbar>