<md-toolbar color="primary">
  <div>
 
  <button md-button class="md-primary" routerLink="/home" title="home" >
    Languge is fun!
  </button>

  <button md-button class="md-raised" routerLink="home-manga-browser">
    Read Manga
  </button>

  <span style="padding-right: 30cm;"></span>

 <button md-button class="md-icon-button" title="Lance Johnson - SENSEI" routerLink="user-profile"> <!-- Note: there are hovercard directives on Github that we could potentiall use -->
  <!--  <md-icon class="material-icons"> person </md-icon> -->
  <img src="/src/assets/Bayb.jpg" style="width: 40 px; height: 40px; border-radius: 50%;">   <!-- class="profile-icon"    - Cna't get this to wokr w/ CSS for some reason --> 
  
  </button>

  </div>
</md-toolbar>