<md-sidenav-container fullscreen>
  <learning-toolbar></learning-toolbar>

<div class="body-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:800px;">
    <div fxFlex="80" style="height:100%;">
      <md-card style="background-color:#F4F5F0">
        <div fxLayout="row">
          
          <div fxFlex style="padding-left:20px;">
            <div fxLayout="column">
              <div fxFlex style="font-size:25px;">
                <p>
                   Vocabulary PAge, couldnt get tables to work
                </p>
              </div>
              <div fxFlex style="font-size:25px;">
                <p>
                  Vocab Placeholder
                </p>
                <button md-raised-button color="primary" style="margin-left:100px;">
                  <span class="toolbar-span">I'm ready to learn!</span>
                </button>
                <button md-raised-button color="accent">
                  <span class="toolbar-span">I can read it!</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>

</md-sidenav-container>