<div class="body-container home">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:1100px;">
    <div fxFlex="20" style="height:100%;">
      <div fxLayout="column" fxLayoutAlign="space-around" style="height:100%;">
        <div>
          <md-card>
            <md-card-header>
              <img md-card-avatar>
              <md-card-title>Lance Johnson</md-card-title>
              <md-card-subtitle>Japanese Sensei</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/bayb.jpg">
          </md-card>
        </div>
        <div>
          <md-card>
            <md-card-title>Personal Achievement Snapshot</md-card-title>
            <md-card-content>
              <p>You currently have: 3500 Points</p>
              <p>You are rank: 18 in your category</p>
              <p>You have learned: 55 words this week</p>
              <p>You have learned: 315 word total</p>
            </md-card-content>
            <md-card-actions style="margin:auto; padding-left:30px;">
              <button md-raised-button routerLink="/learning" color="accent">GO LEARN MORE!</button>
            </md-card-actions>
          </md-card>
        </div>
        <div>
          <md-card>
            <md-card-title>Leaderboard Information</md-card-title>
            <md-card-subtitle>Your rank amongst peers: 35th overall</md-card-subtitle>
            <md-card-content>
              <p style="font-size:20px;">Top Peers</p>
              <p>1. SayonaraBro1: 50,000 points</p>
              <p>2. Here2Learn: 40,000 points</p>
              <p>3. FMA_fan23: 35,000 points</p>
              <p>4. lazyguy2000: 30,000 points</p>
              <p>5. dabest1: 25,000 points</p>
            </md-card-content>
            <md-card-actions>
              <button md-raised-button color="accent" style="margin:auto;margin-left:11px;">GO TO FULL LEADERBOARD</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
    <div fxFlex="70" style="height:100%;">
      <div fxLayout="column" fxLayoutAlign="space-around" style="height:100%;">
        <div>
          <md-card>
            <md-card-title>CURRENT MATERIAL</md-card-title>
            <img src="src/assets/images/hxh-cover.jpg" style="width:15%;">
            <md-card-actions>
              <button md-raised-button color="accent">COURSE HOME</button>
              <button md-raised-button routerLink="/learning" color="accent">GET BACK TO LEARNING</button>
              <button md-raised-button routerLink="/quiz" color="accent">KEEP QUIZZING</button>
            </md-card-actions>
            <hr>
            <md-card-title>PAST MATERIAL</md-card-title>
            <img src="src/assets/images/yots-vol1-cover.png" style="width:15%;">
            <md-card-actions style="padding-bottom:15px;">
              <button md-raised-button color="accent">COURSE HOME</button>
              <button md-raised-button routerLink="/learning" color="accent">GET BACK TO LEARNING</button>
              <button md-raised-button routerLink="/quiz" color="accent">KEEP QUIZZING</button>
            </md-card-actions>
          </md-card>
        </div>
        <div>
          <md-card>
            <md-card-title>People You may want to know!</md-card-title>
            <md-card-content>
              <p>TODO</p>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>