<div fxLayout="row" fxLayoutAlign="space-between" [style.height.px]='400'>
  <div fxFlex="20" fxLayoutAlign="center center">
    <button md-raised-button color="primary" routerLink="/learning/learning-body-2">
      Back To Learning
    </button>
  </div>
  <div fxLayout="column" fxFlex="60">
    <div fxFlex="20" fxLayoutAlign="center">
      <h2>Vocab List</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30">
        <h4>
          English Translation
        </h4>
      </div>
      <div fxFlex="30">
        <h4>
          Japanese Translation
        </h4>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30">
        <p>
          Soon, shortly
        </p>
      </div>
      <div fxFlex="30">
        <p>
          もう
        </p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30">
        <p>
          Soon, almost
        </p>
      </div>
      <div fxFlex="30">
        <p>
          すぐ
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="10">
    
  </div>
</div>