<div fxLayout="column" style="height:550px;" mdTooltip="This is the screen you'd see if you made a mistake!">
  <div fxFlex="30">
    <div fxLayout="row">
      <div fxFlex="10">
          <!-- Empty space cuz lazy -->
      </div>
      <div fxFlex="10" style="padding-top:35px;">
        <md-icon style="font-size:80px;">volume_up</md-icon>
      </div>
      <div fxFlex="60">
        <span style="font-size:120px; margin-left:100px;">またね</span>
      </div>
    </div>
  </div>
  <div fxFlex="70" mdTooltip="This is the screen you'd see if you made a mistake!">
    <div fxLayout="row">
      <div fxFlex="20">

      </div>
      <div fxFlex="40" fxLayout="column">
        <div fxFlex="20">
          <span style="font-weight:bold;">Literal Translation:</span><span style="margin-left:20px;">Still see you</span>
        </div>
        <div fxFlex="20">
          <span style="font-weight:bold;">English Translation:</span><span style="margin-left:10px;">See you later!</span>
        </div>
        <div fxFlex="60">
          <img src="/src/assets/images/matane.png" style="width:80%; margin-left:100px;">
        </div>
      </div>
      <div fxFlex="10">

      </div>
      <div fxFlex="30">
        <button md-raised-button class="submit-button" routerLink="/quiz/quiz-body-6">Continue</button>
      </div>
    </div>
  </div>
</div>