<div fxLayout="column" style="height:550px;" mdTooltip="This is the screen you'd see if you made a mistake!">
  <div fxFlex="40" fxLayout="row">
    <div fxFlex="10">
      <!-- Empty space cuz lazy -->
    </div>
    <div fxFlex="10" fxLayoutAlign="center center">
      <md-icon class="md-80">volume_up</md-icon>
    </div>
    <div fxFlex="55" fxLayoutAlign="center center">
      <span style="font-size:120px;" >またね</span>
    </div>
    <div fxFlex="15" fxLayoutAlign="center center">
    </div>
  </div>
  <div fxFlex="60" [style.height.%]='100' mdTooltip="This is the screen you'd see if you made a mistake!">
    <div fxLayout="row" fxFill>
      <div fxFlex="20">

      </div>
      <div fxFlex="50" fxLayout="column">
        <div fxFlex="20">
          <span [style.font-weight]="'bold'">Literal Translation:</span>
          <span [style.margin-left.px]='20'>Still see you</span>
        </div>
        <div fxFlex="20">
          <span [style.font-weight]="'bold'">English Translation:</span>
          <span [style.margin-left.px]='10'>See you later!</span>
        </div>
        <div fxFlex="60" fxLayoutAlign="center center">
          <img src="/src/assets/images/matane.png" [style.width.%]='60'>
        </div>
      </div>
      <div fxFlex="30" fxLayoutAlign="center center">
        <button md-raised-button class="submit-button" routerLink="/quiz/quiz-body-6">Continue</button>
      </div>
    </div>
  </div>
</div>