<div fxLayout="column" style="height:600px;">
  <div fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10">
      <!-- Empty space cuz lazy -->
    </div>
    <div fxFlex="10">
      <md-icon class="md-80">volume_up</md-icon>
    </div>
    <div fxFlex="60">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/CCRKzIr8Eoc" frameborder="0" style="margin-left:95px;"></iframe>
    </div>
    <div fxFlex="15">
      <button md-raised-button color="warn" [style.font-size.px]='30'>
          EASY!
        </button>
    </div>
  </div>
  <div fxFlex="60" fxLayout="row">
    <div fxFlex="10">
    </div>
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-around center" class="quiz-frame">
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">1. Hello</button>
      </div>
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">2. Goodbye</button>
      </div>
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">3. See you later</button>
      </div>
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">4. Good night</button>
      </div>
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">5. Sorry</button>
      </div>
      <div fxFlex>
        <button md-raised-button class="quiz-button" mdTooltip="Answer is Hello, press Submit!">6. You're welcome</button>
      </div>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <button md-raised-button class="submit-button" routerLink="/quiz/quiz-body-3">Submit</button>
    </div>
  </div>
</div>