<md-tab-group>
  <md-tab label="Privacy"></md-tab>
  <md-tab label="Subscription Services"></md-tab>
</md-tab-group>
<md-card style="height:360px; margin-top:5px;">
  <div fxLayout="column">
    <div fxFlex>
      <p>CIA, Russia, or NSA!?!?</p>
      <md-radio-group>
        <md-radio-button value="1">CIA</md-radio-button>
        <md-radio-button value="2">Russia</md-radio-button>
        <md-radio-button value="3">NSA</md-radio-button>
      </md-radio-group>
    </div>
    <hr>
    <div fxFlex>
      <p>Nickelback or Nick CAGE!?!?</p>
      <md-radio-group>
        <md-radio-button value="1">Nickelback</md-radio-button>
        <md-radio-button value="2">Nick Cage</md-radio-button>
      </md-radio-group>
    </div>
    <hr>
    <div fxFlex>
      <p>Netscape or Internet Explorer 5!?!?</p>
      <md-radio-group>
        <md-radio-button value="1">Netscape</md-radio-button>
        <md-radio-button value="2">Internet Explorer 5</md-radio-button>
      </md-radio-group>
    </div>
    <hr>
    <div fxFlex>
      <p>Slide this to crash the entire website!?</p>
      <md-slide-toggle>Just kidding!</md-slide-toggle>
    </div>
  </div>
</md-card>