<md-toolbar color="primary">

  <button md-button class="md-primary" routerLink="/home" title="home" >
    Languge is fun!
  </button>

<span class="comic-name-spacing"></span>
 
  <div>
  <span>YOTSUBATO! Volume 1 Page 1 </span>
</div>

  <!-- This fills the remaining space of the current row -->

<span class="exit-button-spacing-learning"></span> 

 <button md-button class="md-icon-button" title="Exit Learning" routerLink="/home">
    <md-icon class="material-icons"> cancel</md-icon>
  </button>

</md-toolbar>