<div class="body-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:650px;">
    <div fxFlex="20" style="height:100%;">
      <div fxLayout="column" fxLayoutAlign="space-around" style="height:100%;">
        <div>
          <md-card>
            <md-card-header>
              <img md-card-avatar>
              <md-card-title>Lance Johnson</md-card-title>
              <md-card-subtitle>Japanese Sensei</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/bayb.jpg">
            <md-card-actions>
              <button md-button mdTooltip="Only stats, settings, and social work">UPDATE PROFILE PICTURE</button>
            </md-card-actions>
          </md-card>
        </div>
        <div>
          <md-card style="padding-top:4px;">
            <md-card-actions>
              <button md-button routerLink="user-profile-stats">STATS</button>
              <hr>
              <button md-button routerLink="user-profile-settings">SETTINGS</button>
              <hr>
              <button md-button routerLink="user-profile-social">SOCIAL</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
    <div fxFlex="70" style="height:100%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>